.container {
  background-color: var(--base00);
  color: var(--base05);
  padding: 10px;
  letter-spacing: 0.5px;
  font-family: monospace;
}

.object-row {
  padding: 3px 0;
}
.object-row .object-row {
  border-left: solid 1px var(--base02);
  padding-left: 20px;
  margin-left: 5px;
}

.object-row .key-wrapper {
  cursor: pointer;
}

.object-row .key {
  color: var(--base07);
}

.object-row .key.number {
  color: var(--base0C);
}

.object-row .colon {
  color: var(--base07);
  margin: 0 5px;
}

.object-row .key.hidden {
  display: none;
}
.object-row .colon.hidden {
  display: none;
}

.object-row .brace {
  color: var(--base07);
}
.object-row .size {
  margin-left: 10px;
  color: var(--base04);
  font-style: italic;
  font-size: smaller;
  display: none;
}

.show-size .object-row .size {
  display: inline-block;
}

.object-row .ellipsis {
  color: var(--base09);
  cursor: pointer;
}

.object-row .value.bool,
.object-row .value.boolean {
  color: var(--base0E);
}
.object-row .value.function {
  color: var(--base0D);
}
.object-row .value.int,
.object-row .value.integer {
  color: var(--base0F);
}
.object-row .value.float {
  color: var(--base0B);
}
.object-row .value.string {
  color: var(--base09);
}
.object-row .value.string .content {
  overflow-wrap: break-word;
}
.object-row .value.string .content::before {
  content: open-quote;
}
.object-row .value.string .content::after {
  content: close-quote;
}

.object-row .value.regexp {
  color: var(--base0A);
}
.object-row .value.nan {
  color: var(--base08);
}
.object-row .value.null {
  color: var(--base0A);
}
.object-row .value.undefined {
  color: var(--base05);
}
.object-row .value.date {
  color: var(--base0D);
}

.object-row .value.nan,
.object-row .value.null,
.object-row .value.undefined {
  border-radius: 3px;
  background-color: var(--base02);
  padding: 1px 2px;
}

.object-row .value .type {
  font-size: smaller;
  margin-right: 4px;
  opacity: 0.8;
  display: none;
}

.show-data-types .object-row .value .type {
  display: inline-block;
}

/* ICONS */
.icon-wrapper,
.copy-icon-wrapper {
  display: inline-block;
  /* width: 17px; */
  cursor: pointer;
}

.icon {
  display: block;
  position: relative;
}

.icon:before,
.icon:after {
  content: "";
  position: absolute;
  display: block;
}

/* expand arrow */
.expand.icon {
  margin-right: 5px;
}
.expand-icon-arrow .expand.icon {
  margin-left: 3px;
  width: 0;
  height: 0;
  border-left: solid 6px var(--base0E);
  border-top: solid 6px transparent;
  border-bottom: solid 6px transparent;
}

.expand-icon-arrow .expand.icon.expanded {
  transform: rotate(90deg);
  border-left-color: var(--base0D);
}

/* expand icon square */
.expand-icon-square .expand.icon,
.expand-icon-circle .expand.icon {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 2px;
  border: solid 1px var(--base0E);
}
.expand-icon-circle .expand.icon {
  border-radius: 50%;
}

.expand-icon-square .expand.icon:before,
.expand-icon-circle .expand.icon:before,
.expand-icon-square .expand.icon:after,
.expand-icon-circle .expand.icon:after {
  width: 5px;
  height: 1px;
  background-color: var(--base0E);
  left: 2px;
  top: 4px;
}
.expand-icon-square .expand.icon:after,
.expand-icon-circle .expand.icon:after {
  transform: rotate(90deg);
}
.expand-icon-square .expand.icon.expanded:after,
.expand-icon-circle .expand.icon.expanded:after {
  display: none;
}

.expand-icon-square .expand.icon.expanded,
.expand-icon-circle .expand.icon.expanded {
  border-color: var(--base0D);
}

.expand-icon-square .expand.icon.expanded:before,
.expand-icon-circle .expand.icon.expanded:before {
  background-color: var(--base0D);
}
/* ---------------- */

.icon-wrapper {
  display: inline-block;
  cursor: pointer;
}

/* copy icon */
.show-copy .object-row:hover > .copy-icon-wrapper .icon.copy,
.show-copy .object-row:hover > .expandable > .copy-icon-wrapper .icon.copy {
  display: block;
}

.copy.icon {
  margin-left: 10px;
  display: none;
  width: 8px;
  height: 10px;
  border: solid 1px var(--base0D);
  border-radius: 1px;
  position: relative;
  top: 4px;
}

.copy.icon.copied {
  background-color: var(--base0B);
}

.copy.icon:before {
  content: "";
  display: block;
  position: absolute;
  left: -3px;
  top: -3px;
  width: 8px;
  height: 10px;
  border-top: solid 1px var(--base0D);
  border-left: solid 1px var(--base0D);
  border-radius: 1px 0 0 0;
}
